body {
  text-align: center;


background-blend-mode: lighten;
//background-color:  white;
background-image: url("tambola-game.jpg");

/* Full height */
height: 100%;

/* Center and scale the image nicely */
//background-position: ;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;

}
.bg {
  /* The image used */
  background-image: url("image.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 4rem;
  color: black;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 white;
  text-align: center;

}

footer {
  color: black;
  font-family: sans-serif;
}
.hed{
  display: inline-block;
  text-align: left;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 2rem;
}
.lk{
  color: black;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 white;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 2rem;
}
.count,.no,.prev{
  display: inline-block;
}

.tapper{
  margin-top: 0px;
  padding-top: 0px;
  color: #404B69;
  cursor: pointer;
  font-weight: bold;

}

#pressed {
  box-shadow: 0 3px 4px 0 black;
  opacity: 1;
  text-shadow: 3px 0 black;
  background-color:black;
}
.mainbody{
  margin: auto;
}
.container{
  display: inline-block;
  text-align: center;
  background-color: black;
  border-radius: 15px;
  border: 10px solid #404B69;
}
.head{
  margin-bottom: 0px;
  padding-bottom: 0px;
}


.number {
  font-weight: bold;
  outline: none;
  border: 5px solid #404B69;

  font-family: 'Arvo', cursive;
  /* line-height: 2; */
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 45px;
  height: 45px;
text-align: center;
  margin: 2px;

  background-color: white;
}
.info {
  height: 40px;
  font-size: 15px;
  width: 150px;
  border-radius: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-color: #2196F3;
  color: dodgerblue
}

.info:hover {
  background: #2196F3;
  color: white;
}
@media (max-width:780px)
{
  .container{
  
    background-color: aliceblue;
    border-radius: 0ox;
    border:none;
  }
  .number{
    padding: 0px;
    height: 35px;
    width: 30px;
    border: 2px solid #404B69;
    margin: 2px 0px;
    border-radius: 0px;
    font-weight: 800;
  }
  .count,.no,.prev
  {
    font-size: 20px;
  }
  .head{
    font-size: 30px;
  }
  body{
    background-color: aliceblue;
    background-image: none;
  }
}